<div id="footer">
  <div class="container">
    <ul>
      <li><a href="#"><img src="assets/facebook.png"></a></li>
      <li><a href="#"><img src="assets/instagram.png"></a></li>
      <li><a href="#"><img src="assets/twitter.png"></a></li>
      <li><a href="#"><img src="assets/youtube.png"></a></li>
    </ul>
    <div class="footer-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms &amp; Conditions</a>
      <a href="#">Refund Policy</a>
      <a href="#">Contact</a>
      <a href="#">Feedback</a>
    </div>
  </div>
</div>
